{{ attach_library('common_design/cd-grid') }}
{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-utilities') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-button') }}
{{ attach_library('common_design/cd-read-more') }}
{{ attach_library('common_design/cd-card') }}


<div class="cd-grid cd-grid--3-col">

  <article role="article" class="cd-card [ cd-flow ]">
    <div class="cd-card__container [ cd-flow ]">
      <div class="cd-card__title">
        <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
      </div>
      <div class="cd-card__description">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>
    </div>
    <div class="cd-card__footer">
      <a href="#" class="cd-card__link cd-read-more">
        Learn more
        <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </article>

  <article role="article" class="cd-card [ cd-flow ]">
    <div class="cd-card__image">
      <img src="https://via.placeholder.com/410x210" alt="card image example">
    </div>
    <div class="cd-card__container [ cd-flow ]">
      <div class="cd-card__title">
        <h3><a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a></h3>
      </div>
      <div class="cd-card__date">
        30 Jul 2019
      </div>
      <div class="cd-card__description">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>
    </div>
    <div class="cd-card__footer cd-align--right">
      <a href="#" class="cd-card__link cd-read-more">
        Learn more
        <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </article>

  <article role="article" class="cd-card [ cd-flow ]">
    <div class="cd-card__image">
      <img src="https://via.placeholder.com/410x210" alt="card image example">
    </div>
    <div class="cd-card__container cd-align--center [ cd-flow ]">
      <div class="cd-card__title">
        <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
      </div>
      <div class="cd-card__description">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>
    </div>
    <div class="cd-card__footer cd-align--center">
      <a href="#" class="cd-button cd-button--bold cd-button--uppercase cd-button--wide">
        More
      </a>
    </div>
  </article>

  <article role="article" class="cd-card [ cd-flow ]">
    <div class="cd-card__image cd-card__image--rounded">
      <img src="https://via.placeholder.com/205x205" alt="card image example">
    </div>
    <div class="cd-card__container cd-align--center [ cd-flow ]">
      <div class="cd-card__title">
        <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing</a>
      </div>
      <div class="cd-card__description">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). </p>
      </div>
    </div>
    <div class="cd-card__footer cd-align--center">
      <a href="#" class="cd-button cd-button--outline cd-button--bold cd-button--uppercase cd-button--wide cd-button--icon">
        <svg class="cd-icon cd-icon--user" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--user"></use>
        </svg>
        <span class="cd-button__text">Login</span>
      </a>
    </div>
  </article>

  <article role="article" class="cd-card [ cd-flow ]">
    <div class="cd-card__container [ cd-flow ]">
      <div class="cd-card__title">
        <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
      </div>
      <div class="cd-card__description">
        <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
      </div>
    </div>
    <div class="cd-card__footer">
      <a href="#" class="cd-card__link cd-read-more">
        Learn more
        <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </article>

  <article role="article" class="cd-card cd-card--clickable [ cd-flow ]">
    <div class="cd-card__image">
      <img src="https://via.placeholder.com/410x210" alt="card image example">
    </div>
    <div class="cd-card__container [ cd-flow ]">
      <div class="cd-card__title">
        <a href="#surface" rel="bookmark">Variant: Clickable Card</a>
      </div>
      <div class="cd-card__description">
        <p>The entire surface of this card is clickable, using the title text as the hyperlinks's content. The footer link is still clickable and can even be a separate destination.</p>
      </div>
    </div>
    <div class="cd-card__footer">
      <a href="#learn-more" class="cd-card__link cd-read-more">
        Learn more
        <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
      </a>
    </div>
  </article>

</div>
