<p>Dear <%= user.name %>,</p>

<p><%= admin.name %> created an account for you on Humanitarian ID - a contact management system for the humanitarian community.</p>

<p>To update or add more details and connect with other responders, please register using the link below. You will be asked to create a password of your choice. Humanitarian ID gives you control of your details on humanitarian contact lists. Please note that this invitation will expire after 7 days. <%= admin.name %> can re-send an invitation if requested.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<p>If you do not want to register and would like your details removed, please submit the Removal Request form, mention who invited you, and we will remove your details from Humanitarian ID and all associated contact lists.</p>

<p>Removal request: <a href="https://humanitarian.id/removal_request">https://humanitarian.id/removal_request/</a></p>

<p>If you would like to learn more about Humanitarian ID and be the first to hear about new features, visit <a href="https://humanitarian.id">https://humanitarian.id</a>, join our mailing list (<a href="https://humanitarian.id/subscribe">https://humanitarian.id/subscribe</a>) and follow us on social media.</p>

<% include ../includes/footer_en %>


p Cher(e) #{nameFirst}

p #{adminName} vous a ajouté à la liste de contacts de #{location} sur Humanitarian ID - un système de gestion de contact pour la communauté humanitaire.

p Pour mettre à jour ou ajouter plus de détails et se connecter avec d'autres intervenants, veuillez s'il vous plaît vous inscrire en utilisant le lien ci-dessous. Vous pourrez alors créer le mot de passe de votre choix. Humanitarian ID vous donne le contrôle de vos données sur des listes de contacts humanitaires. Notez que cette invitation expirera après 7 jours. #{adminName} peut vous renvoyer une invitation sur demande.

a(href=reset_url) #{reset_url}

p Si vous ne souhaitez pas vous inscrire et aimeriez supprimer vos coordonnées, veuillez s’il vous plaît remplir le formulaire de demande de suppression de vos coordonnées de Humanitarian ID en indiquant qui vous a invité.

p Formulaire de demande de suppression:
  a(href='http://humanitarian.id/removal_request/') http://humanitarian.id/removal_request/

p 
  | Si vous souhaitez en savoir plus sur Humanitarian ID et être le premier à entendre parler de nouvelles fonctionnalités, visitez le site : 
  a(href='http://humanitarian.id') http://humanitarian.id
  | , rejoignez notre liste de diffusion (
  a(href='http://humanitarian.id/subscribe') http://humanitarian.id/subscribe
  | ) et suivez-nous sur les réseaux sociaux.

include ../includes/footer_fr.jade
