<p>Dear <%= user.name %>,</p>

<p><a href="<%= createdBy.getAppUrl() %>"><%= createdBy.name %></a> has added you to the <a href="<%= params.list.getAppUrl() %>"><%= params.list.name %></a> contact list on Humanitarian ID - a contact management system for the humanitarian community.
To update or add more details and connect with other responders, please log in at <a href="https://humanitarian.id">humanitarian.id</a>.</p>

<% include ../includes/footer_en %>
