<p>Dear <%= user.name %>,</p>

<p>We have noticed that you are still checked into <%= params.list.name %>, but have specified a departure date of <%= params.listUser.checkoutDate %>. That was more than 2 days ago.</p>

<p>If you are no longer in <%= params.list.name %>, please check out. Otherwise, kindly update your profile with a new departure date.</p>

<p>If no action is taken, you will be automatically checked out of <%= params.list.name %> in the next 12 days.</p>

<% include ../includes/footer_en %>
