<p>Bonjour <%= user.name %>,</p>

<p><%= createdBy.name %> vous a désinscrit du service "<%= params.service.name %>" sur Humanitarian ID.</p>

<p>Veuillez contacter <%= createdBy.name %> si vous voulez vous réinscrire à "<%= params.service.name %>".</p>

<% include ../../includes/footer_fr %>
