<p>Bonjour <%= user.name %>,</p>

<p>Votre checkin dans la liste <a href="<%= params.list.getAppUrl() %>"><%= params.list.name %></a> a été approuvé par <a href="<%= createdBy.getAppUrl() %>"><%= createdBy.name %></a>.</p>

<% include ../../includes/footer_fr %>
