<p>Bonjour <%= user.name %>,</p>

<p><a href="<%= admin.getAppUrl() %>"><%= admin.name %></a> a supprimé votre compte.</p>

<p>S’il s’agit d’une faute de notre part, nous vous prions de bien vouloir contacter <a href="<%= admin.getAppUrl() %>"><%= admin.name %></a> ou d’envoyer un courriel à info@humanitairan.id.
 Vous pouvez aussi recréer un nouveau compte à <a href="https://auth.humanitarian.id/register">https://auth.humanitarian.id/register</a>.</p>

<% include ../../includes/footer_fr %>
