<p>Bonjour <%= user.name %>,</p>

<p><%= admin.name %> a supprimé votre compte.</p>

<p>Vous pouvez recréer un nouveau compte à l'adresse <a href="<%= registerLink %>"><%= registerLink %></a>.</p>

<p>Bien cordialement,</p>
<%- include('../../includes/footer_fr') %>
