<p>Dear <%= user.name %>,</p>

<p><a href="<%= admin.getAppUrl() %>"><%= admin.name %></a> has deleted your account.</p>

<p>If this action was taken in error, kindly contact <a href="<%= admin.getAppUrl() %>"><%= admin.name %></a> or email info@humanitairan.id.
 You can also create a new account at: <a href="https://auth.humanitarian.id/register">https://auth.humanitarian.id/register</a></p>

<p>If you believe that this email was sent incorrectly or inappropriately, please let us know at info@humanitarian.id.</p>

<% include ../includes/footer_en %>
