<p>Bonjour <%= user.name %></p>

<p><a href="<%= params.user.getAppUrl() %>"><%= params.user.name %></a> voudrait s'inscrire à la liste <a href="<%= params.list.getAppUrl() %>"><%= params.list.name %></a>. Veuillez accorder ou refuser cette requête.</p>

<% include ../../includes/footer_fr %>
