<p>Dear <%= user.name %>,</p>

<p><%= createdBy.name %> has just added you to the subscription service "<%= params.service.name %>" on Humanitarian ID.</p>

<p>If you do not wish to subscribe to "<%= params.service.name %>", please log into Humanitarian ID and unsubscribe from "<%= params.service.name %>".</p>

<% include ../includes/footer_en %>
