<p>Cher(e) <%= user.name %></p>

<p><%= admin.name %> vous a créé un compte sur Humanitarian ID - un système de gestion de contact pour la communauté humanitaire.</p>

<p>Pour mettre à jour ou ajouter plus de détails et se connecter avec d'autres intervenants, veuillez s'il vous plaît vous inscrire en utilisant le lien ci-dessous. Vous pourrez alors créer le mot de passe de votre choix. Humanitarian ID vous donne le contrôle de vos données sur des listes de contacts humanitaires. Notez que cette invitation expirera après 7 jours. <%= admin.name %> peut vous renvoyer une invitation sur demande.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<p>Si vous ne souhaitez pas vous inscrire et aimeriez supprimer vos coordonnées, veuillez s’il vous plaît remplir le formulaire de demande de suppression de vos coordonnées de Humanitarian ID en indiquant qui vous a invité.</p>

<p>Formulaire de demande de suppression: <a href="http://about.humanitarian.id/removal_request/">http://about.humanitarian.id/removal_request/</a></p>

<p>Si vous souhaitez en savoir plus sur Humanitarian ID et être le premier à entendre parler de nouvelles fonctionnalités, visitez le site : <a href="http://about.humanitarian.id">http://about.humanitarian.id</a>, rejoignez notre liste de diffusion (<a href="http://about.humanitarian.id/subscribe">http://about.humanitarian.id/subscribe</a>) et suivez-nous sur les réseaux sociaux.</p>

<% include ../../includes/footer_fr %>
