<p>Bonjour <%= user.name %>,</p>

<p>Une alerte pour <a href="<%= params.list.getAppUrl() %>"><%= params.list.name %></a> a été créée sur glidenumber.net.
  Si vous répondez à cette catastrophe (potentielle), vous pouvez vous inscrire sur la liste de contacts spécifique à cette catastrophe sur Humanitarian ID.
  Vous inscrire sur cette liste vous permettra d'aider les autres humanitaires à prendre contact avec vous.</p>

<p><a href="<%= params.list.getAppUrl() %>">Oui, m'inscrire à la liste de contacts <%= params.list.name %></a></p>

<% include ../../includes/footer_fr %>
