<p>Dear <%= user.name %>,</p>

<p><%= admin.name %> created an account for you on Humanitarian ID - a contact management system for the humanitarian community.</p>

<p>To update or add more details and connect with other responders, please register using the link below. You will be asked to create a password of your choice. Humanitarian ID gives you control of your details on humanitarian contact lists. Please note that this invitation will expire after 7 days. <%= admin.name %> can re-send an invitation if requested.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<p>If you do not want to register and would like your details removed, please submit the Removal Request form, mention who invited you, and we will remove your details from Humanitarian ID and all associated contact lists.</p>

<p>Removal request: <a href="http://about.humanitarian.id/removal_request">http://about.humanitarian.id/removal_request/</a></p>

<p>If you would like to learn more about Humanitarian ID and be the first to hear about new features, visit <a href="http://about.humanitarian.id">http://about.humanitarian.id</a>, join our mailing list (<a href="http://about.humanitarian.id/subscribe">http://about.humanitarian.id/subscribe</a>) and follow us on social media.</p>

<% include ../includes/footer_en %>
